[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
boto3 = "*"

[dev-packages]
black = "==21.7b0"
isort = "*"
flake8 = "*"
pylama = "*"
bandit = "*"
pytest = "*"
requests-mock = "*"
coveralls = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"

[scripts]
llama = "python -c \"from llama.cli import cli; cli()\""
